[Unit]
Description=Employees Database API
StartLimitIntervalSec=0
After=network.target

[Service]
Type=exec
Restart=always
RestartSec=1
User=administrator
WorkingDirectory=/www/wwwroot/employees.mardens.com/
ExecStart=/home/administrator/.local/bin/employees-database

[Install]
WantedBy=multi-user.target